@model ProfileViewModel

<form asp-action="ChangeEmail">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group m-3">
        <label asp-for="Email" class="control-label pb-3"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group pt-3 m-3">

        <input value="Change" type="submit" class="btn btn-dark w-100" />
    </div>
</form>
